<h1> Weeks </h1>
<% @weeks.each do |week| %>
  <%= link_to "Week #{week.week}", edit_week_path(week.id) %><br/>
<% end %>
<br/>
<div class="navigation-links">
  <%= link_to 'User Index', user_path(current_user) %>
</div>
