/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery.timeentry
 *= require_tree . 
*/

.datepicker{
  width: 75px;
}

input { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
div { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

#container {
  width: 50%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#user_nav {
  float: right;
  font-size: 12px;
}

a {
  color: #0000FF;
}

.navigation-links{
  bottom:0px; right: 0px;
  padding-top:15px;
}

#container-contents{
  width:75%;
  margin: 0 auto;
}

.vs-label{
  padding-left: 10px;
}

.game_header{
  text-align:left;
}

.home_team_label{
  padding-left:10px;
}

.spread_column{
  padding-left:12px;
}

  

