<h1> Weeks </h1>
<% @weeks.each do |week| %>
  <% p @get_current_week %>
  <% if week.week <= @get_current_week %>
    <%= link_to "Week #{week.week}", edit_game_path(week.id) %><br/>
  <% else %>
    <%= link_to "Week #{week.week}", edit_game_path(week.id), :class => 'disable_link' %><br/>
  <% end %>
<% end %>
<br/>
<div class="navigation-links">
  <%= link_to "User Index", user_path(current_user) %>
</div>